.DS_Store
target/
/assets/.maps.*/
/assets/.maps-backup.*/
/reference_drawings/5 chars/glavier03.JPG
/reference_drawings/5 chars/hammerer01.JPG
/reference_drawings/5 chars/mage03.JPG
/reference_drawings/5 chars/rogue03.JPG
/reference_drawings/5 chars/sorcerer03.JPG
/reference_drawings/5 chars/wizard03.JPG
.agent-check/
/crates/configs/runtime.local.toml
